@font-face {
    font-family: 'NeueMontreal';
    src: url(PPNeueMontreal-Medium.otf);

    font-family: 'DaVinci';
    src: url(TRJNDaVinci-Light-Italic-Trial.otf);
}

@font-face {
    font-family: 'Switzer-Light';
    src: url(Switzer-Light.otf);
}

body {
    font-family: 'NeueMontreal', sans-serif;
    text-align: center;
    background-color: #FFFEFC;
}


.Work-Button {
    position: absolute;
    top: 50px;     
    left: 1165px;   
    font-family: 'NeueMontreal', sans-serif;
    border: none;
    background-color: #FFFEFC;
    font-size: 19px;
    cursor: hand;
}

.Playground-Button {
    position: absolute;
    top: 50px;      
    left: 1250px;      
    font-family: 'NeueMontreal', sans-serif;
    border: none;
    background-color: #FFFEFC;
    font-size: 19px;
    cursor: hand;
}

.About-Button {
    position: absolute;
    top: 50px;       
    left: 1385px;     
    font-family: 'NeueMontreal', sans-serif;
    border: none;
    background-color: #FFFEFC;
    font-size: 19px;
    cursor: hand;
}

.Resume-Button {
    position: absolute;
    top: 38px;       
    left: 1480px;      
    font-family: 'DaVinci', sans-serif;
    border: none;
    background-color: #961A22;
    border-radius: 100px;
    font-size: 16px;
    cursor: hand;
    padding: 15px;
    color: white
}


.infinite-scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    margin-top: 100px;
    position: relative;
  }
  
  .scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  
  .scroll-content {
    display: flex;
  }
  
  .scroll-pill {
    display: inline-block;
    margin-right: 20px;
    padding: 15px 22px;
    font-family: 'NeueMontreal', sans-serif;
    font-size: 16px;
    border: 1.5px solid #961A22;
    border-radius: 999px;
    color: #000000;
    background-color: #FFFEFC;
    white-space: nowrap;
  }
  
  @keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 4em 0;
    padding: 0;
}

.Header-Section {
    margin-top: 180px; /* move the whole block down */
}

.Name-Title {
    font-family: 'DaVinci', Arial, sans-serif;
    font-size: 130px;
    color: #961A22;
    margin: 0;
    text-align: center;
}


.Description {
    font-family: 'Switzer-Light', sans-serif;
    font-size: 39px;
}
